<div class="container col-4 my-5">

  <%= simple_form_for pitch do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.input :price %>
      <%= f.input :location %>
      <%= f.input :pitch_type, collection: %w[Basketball Padel Tenis Football Futsal Field-Hockey Hockey Volleyball Handball Table-Tenis] %>
    <p> <%= f.input :available %> <%= f.submit class: "btn btn-success rounded-4" %></p>
  <% end %>
</div>

