<%#
<div class="container">
  <h1><strong><%= @pitch.name %></strong></h1>
  <p class="title-text"><b><%= @pitch.average_rating %></b>
  <i class="fa-regular fa-star"></i>
  <%= @pitch.review_count %> Comments <b><span class="text-decoration-underline" > <%= @pitch.location%> </span>
  </b></p>

  <div class="d-flex justify-content-around" >
    <div style= "width: 700px;">
      <%= cl_image_tag @pitch.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="">
      <p><b><%= @pitch.pitch_type %></b></p>
      <%= render "bookings/new", pitch: @pitch, booking: @booking %>
    </div>
  </div>




</div>
