<% @pitch.name %>

<%= simple_form_for [pitch, booking], data: { controller: 'flatpickr' } do |f| %>
  <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
  <p><%= f.submit class: "btn btn-outline-secondary btn-sm " %></p>
<% end %>

  <p><strong><%= @pitch.price %>€</strong> / day</p>
