<div class="container col-5 mt-5">

  <% @booking.pitch.name %>

  <%= simple_form_for @booking do |f| %>
      <%= f.input :start_time, {discard_minute: true} %>
      <%= f.input :end_time, {discard_minute: true} %>
    <p><%= f.submit class: "btn btn-outline-secondary btn-sm " %></p>
  <% end %>
<p>New Total Price: <strong><%= @booking.total_price.round(2) %>€</strong>
