<div class="container w-25 mt-5">

  <% @booking.pitch.name %>

  <%= simple_form_for @booking do |f| %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
    <p><%= f.submit class: "btn btn-outline-secondary btn-sm " %></p>
  <% end %>
<%= @booking.total_price %>
