<div class="container col-10 justify-centered">
  <table class="table col-6">
    <thead>
      <tr class="table_headers" id ="test1">
        <th scope="col-4">Pitch Name</th>
        <th scope="col-1">Start time</th>
        <th scope="col-1">End time</th>
        <th scope="col-1">Total Price (€)</th>
        <th scope="col-1"> </th>
        <th scope="col-1"> </th>
        <th scope="col-1"> </th>
      </tr>
    </thead>
    <tbody>

      <% @bookings.each do |booking| %>

      <tr>
        <td><%= booking.pitch.name %></td>
        <td><%= booking.start_time.strftime('%d-%m-%Y %H:%M') %></td>
        <td><%= booking.end_time.strftime('%d-%m-%Y %H:%M') %></td>
        <td><%= booking.total_price %> €</td>
        <td><%= link_to "leave a review", new_booking_review_path(booking), class:"text-decoration-none btn btn-outline-success btn-sm"%></td>
        <td><%= link_to "edit", edit_booking_path(booking), class:"text-decoration-none btn btn-outline-info btn-sm"%></td>
        <td><%= link_to "Delete", booking_path(booking), class:"text-decoration-none btn btn-outline-danger btn-sm",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></td>
      </tr>

      <% end %>
    </tbody>
  </table>
</div>
