<div class="container col-9 justify-centered" style="height: calc(100vh - 280px)">
  <table class="table">
    <thead>
      <tr class="table_headers">
        <th scope="col">Pitch Name</th>
        <th scope="col">Start time</th>
        <th scope="col">End time</th>
        <th scope="col">Total Price (€)</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>

      <% @bookings.each do |booking| %>

      <tr>
        <td><%= booking.pitch.name %></td>
        <td><%= booking.start_time.strftime('%d-%m-%Y %H:%M') %></td>
        <td><%= booking.end_time.strftime('%d-%m-%Y %H:%M') %></td>
        <td><%= booking.total_price %> €</td>
        <td><%= link_to "leave a review", new_booking_review_path(booking), class:"text-decoration-none btn btn-outline-success btn-sm"%></td>
        <td><%= link_to "edit", edit_booking_path(booking), class:"text-decoration-none btn btn-outline-info btn-sm"%></td>
        <td><%= link_to "Delete", booking_path(booking), class:"text-decoration-none btn btn-outline-danger btn-sm",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></td>
      </tr>

      <% end %>
    </tbody>
  </table>
</div>
